* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 67.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    line-height: 1.7;
}

.container {
    width: 800px;
    height: 100%;
    margin: 0 auto;
}

.main-nav {
    background: grey;
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5rem;

    ul {
        display: flex;

        li {
            list-style-type: none;
            padding-right: 2rem;

            &:first-child {
                padding-left: 2rem;
            }
        }
    }
}

header {
    background: url("../img/welcome.jpg") no-repeat center center/cover;
    height: 30rem;

    .main-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30rem;

        &__header--primary {
            color: #fff;
            font-size: 6rem;
            text-align: center;
        }

        &__header--secondary {
            color: rgb(122, 117, 117);
            font-size: 4rem;
            line-height: 1;
        }
    }
}

main {
    background: lightgray;

    .plot {
        display: flex;
        flex-direction: column;

        &__heading {
            align-self: center;
            padding: 2rem;
            font-size: 4rem;
            font-weight: normal;
        }

        &__content {
            display: flex;

            &__image img {
                max-width: 100%;
            }

            &__text {
                padding: 2rem;

                & p {
                    margin-top: 2rem;
                }
            }
        }
    }
}

section {
    height: 45rem;
}

.characters {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url("../img/rey-standing.jpg") no-repeat center center/cover;
    padding: 2rem;

    .character {
        margin-right: 0.7rem;
    }

    .character1,
    .character7 {
        height: 7rem;
        width: 7rem;

        position: relative;
        bottom: 3rem;
    }

    .character2,
    .character6 {
        height: 9rem;
        width: 9rem;

        position: relative;
        bottom: 2rem;
    }

    .character3,
    .character5 {
        height: 11rem;
        width: 11rem;

        position: relative;
        bottom: 1rem;
    }

    .character1 {
        background: url("../img/luke.jpg") no-repeat center center/cover;
        border-radius: 50%;
    }

    .character2 {
        background: url("../img/leia.jpg") no-repeat center center/cover;
        border-radius: 50%;
    }

    .character3 {
        background: url("../img/finn.jpg") no-repeat center center/cover;
        border-radius: 50%;
    }

    .character4 {
        background: url("../img/rey.jpg") no-repeat center center/cover;
        border-radius: 50%;
        height: 13rem;
        width: 13rem;
    }

    .character5 {
        background: url("../img/kylo.jpg") no-repeat center center/cover;
        border-radius: 50%;
    }

    .character6 {
        background: url("../img/poe.jpg") no-repeat center center/cover;
        border-radius: 50%;
    }

    .character7 {
        background: url("../img/bb8.jpg") no-repeat center center/cover;
        border-radius: 50%;
    }
}

.ratings {
    background: lightgray;

    &__heading {
        padding: 3rem;
        font-size: 4rem;
        font-weight: normal;
        text-align: center;
    }

    &__graphics {
        display: flex;
        align-items: flex-end;
        padding: 3rem 4rem;
        height: 75%;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;

            &__score {
                font-size: 2.5rem;
            }
            
            &__bar {
                background: grey;
                width: 80%;
            }
    
            &__imdb__bar {
                height: 17rem;
            }

            &__rottentomatoes__bar {
                height: 23rem;
            }

            &__metacritic__bar {
                height: 20rem;
            }
        }
    }
}


